<ion-header [translucent]="true">
<ion-toolbar color="roxo">
  <ion-title class="titulo">
    Astronomia
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Astronomia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
<ion-card-header>
  <ion-card-title>
  <h2>Mercúrio</h2>
  </ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/c1/74/fa/c174fa22b56d2db3249fe55799150d34.jpg">
</ion-thumbnail>
<ion-card-title>
  <br>
<ion-button Default color="cinza">ver mais</ion-button>
</ion-card-title>
<ion-card-content>Quer saber mais o planeta Mercúrio? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>
<h2>Vênus</h2>
</ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/7c/c4/b9/7cc4b9650a2bf8a2e05231046322001d.jpg">
</ion-thumbnail>
<ion-card-title>
<br>
<ion-button Default color="venus">ver mais</ion-button>
</ion-card-title>
<ion-card-content>
Quer saber mais o planeta Vênus? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>
<h2>Terra</h2>
</ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/74/a6/80/74a68080e000e49e40b57d1efadeb7f6.jpg">
</ion-thumbnail>
<ion-card-title>
<br>
<ion-button Default color="terra">ver mais</ion-button>
</ion-card-title>
<ion-card-content>
Quer saber mais o planeta Terra? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>
<h2>Marte</h2>
</ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/c7/96/52/c79652a81b064ee58b23d38557dba461.jpg">
</ion-thumbnail>
<ion-card-title>
<br>
<ion-button Default color="marte">ver mais</ion-button>
</ion-card-title>
<ion-card-content>
Quer saber mais o planeta Marte? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>
<h2>Júpiter</h2>
</ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/05/72/03/057203a856ed2ab83f0688d8d4b3aca7.jpg">
</ion-thumbnail>
<ion-card-title>
<br>
<ion-button Default color="jupiter">ver mais</ion-button>
</ion-card-title>
<ion-card-content>
Quer saber mais o planeta Júpiter? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>
<h2>Saturno</h2>
</ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/ce/b1/ba/ceb1bafdedbd77c9a8897b4d355c0caa.jpg">
</ion-thumbnail>
<ion-card-title>
<br>
<ion-button Default color="saturno">ver mais</ion-button>
</ion-card-title>
<ion-card-content>
Quer saber mais o planeta Saturno? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>
<h2>Urano</h2>
</ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/a0/e5/7c/a0e57cce08d719ba810058c2ae342f54.jpg">
</ion-thumbnail>
<ion-card-title>
<br>
<ion-button Default color="urano">ver mais</ion-button>
</ion-card-title>
<ion-card-content>
Quer saber mais o planeta Urano? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>
<h2>Netuno</h2>
</ion-card-title>
</ion-card-header>

<ion-thumbnail>
<img src="https://i.pinimg.com/564x/2b/77/cf/2b77cfaac869017c2bddefc8a2e33a66.jpg">
</ion-thumbnail>
<ion-card-title>
<br>
<ion-button Default color="netuno">ver mais</ion-button>
</ion-card-title>
<ion-card-content>
Quer saber mais o planeta Netuno? Clique em ver mais para ver algumas curiosidades sobre esse lindo planeta.
</ion-card-content>
</ion-card>
</ion-content>
