// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

:root {
	--ion-color-marrom: #b17c59;
	--ion-color-marrom-rgb: 177,124,89;
	--ion-color-marrom-contrast: #000000;
	--ion-color-marrom-contrast-rgb: 0,0,0;
	--ion-color-marrom-shade: #9c6d4e;
	--ion-color-marrom-tint: #b9896a;
}

.ion-color-marrom {
	--ion-color-base: var(--ion-color-marrom);
	--ion-color-base-rgb: var(--ion-color-marrom-rgb);
	--ion-color-contrast: var(--ion-color-marrom-contrast);
	--ion-color-contrast-rgb: var(--ion-color-marrom-contrast-rgb);
	--ion-color-shade: var(--ion-color-marrom-shade);
	--ion-color-tint: var(--ion-color-marrom-tint);
}

:root {
	--ion-color-marrom2: #9b5e17;
	--ion-color-marrom2-rgb: 155,94,23;
	--ion-color-marrom2-contrast: #ffffff;
	--ion-color-marrom2-contrast-rgb: 255,255,255;
	--ion-color-marrom2-shade: #885314;
	--ion-color-marrom2-tint: #a56e2e;
}

.ion-color-marrom2 {
	--ion-color-base: var(--ion-color-marrom2);
	--ion-color-base-rgb: var(--ion-color-marrom2-rgb);
	--ion-color-contrast: var(--ion-color-marrom2-contrast);
	--ion-color-contrast-rgb: var(--ion-color-marrom2-contrast-rgb);
	--ion-color-shade: var(--ion-color-marrom2-shade);
	--ion-color-tint: var(--ion-color-marrom2-tint);
}

:root {
	--ion-color-cinza: #615f5c;
	--ion-color-cinza-rgb: 97,95,92;
	--ion-color-cinza-contrast: #ffffff;
	--ion-color-cinza-contrast-rgb: 255,255,255;
	--ion-color-cinza-shade: #555451;
	--ion-color-cinza-tint: #716f6c;
}

.ion-color-cinza {
	--ion-color-base: var(--ion-color-cinza);
	--ion-color-base-rgb: var(--ion-color-cinza-rgb);
	--ion-color-contrast: var(--ion-color-cinza-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cinza-contrast-rgb);
	--ion-color-shade: var(--ion-color-cinza-shade);
	--ion-color-tint: var(--ion-color-cinza-tint);
}

:root {
	--ion-color-venus: #87622c;
	--ion-color-venus-rgb: 135,98,44;
	--ion-color-venus-contrast: #ffffff;
	--ion-color-venus-contrast-rgb: 255,255,255;
	--ion-color-venus-shade: #775627;
	--ion-color-venus-tint: #937241;
}

.ion-color-venus {
	--ion-color-base: var(--ion-color-venus);
	--ion-color-base-rgb: var(--ion-color-venus-rgb);
	--ion-color-contrast: var(--ion-color-venus-contrast);
	--ion-color-contrast-rgb: var(--ion-color-venus-contrast-rgb);
	--ion-color-shade: var(--ion-color-venus-shade);
	--ion-color-tint: var(--ion-color-venus-tint);
}

:root {
	--ion-color-terra: #147b2e;
	--ion-color-terra-rgb: 20,123,46;
	--ion-color-terra-contrast: #ffffff;
	--ion-color-terra-contrast-rgb: 255,255,255;
	--ion-color-terra-shade: #126c28;
	--ion-color-terra-tint: #2c8843;
}

.ion-color-terra {
	--ion-color-base: var(--ion-color-terra);
	--ion-color-base-rgb: var(--ion-color-terra-rgb);
	--ion-color-contrast: var(--ion-color-terra-contrast);
	--ion-color-contrast-rgb: var(--ion-color-terra-contrast-rgb);
	--ion-color-shade: var(--ion-color-terra-shade);
	--ion-color-tint: var(--ion-color-terra-tint);
}

:root {
	--ion-color-marte: #a62626;
	--ion-color-marte-rgb: 166,38,38;
	--ion-color-marte-contrast: #ffffff;
	--ion-color-marte-contrast-rgb: 255,255,255;
	--ion-color-marte-shade: #922121;
	--ion-color-marte-tint: #af3c3c;
}

.ion-color-marte {
	--ion-color-base: var(--ion-color-marte);
	--ion-color-base-rgb: var(--ion-color-marte-rgb);
	--ion-color-contrast: var(--ion-color-marte-contrast);
	--ion-color-contrast-rgb: var(--ion-color-marte-contrast-rgb);
	--ion-color-shade: var(--ion-color-marte-shade);
	--ion-color-tint: var(--ion-color-marte-tint);
}

:root {
	--ion-color-rosabb: #f4e6e6;
	--ion-color-rosabb-rgb: 244,230,230;
	--ion-color-rosabb-contrast: #000000;
	--ion-color-rosabb-contrast-rgb: 0,0,0;
	--ion-color-rosabb-shade: #d7caca;
	--ion-color-rosabb-tint: #f5e9e9;
}

.ion-color-rosabb {
	--ion-color-base: var(--ion-color-rosabb);
	--ion-color-base-rgb: var(--ion-color-rosabb-rgb);
	--ion-color-contrast: var(--ion-color-rosabb-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rosabb-contrast-rgb);
	--ion-color-shade: var(--ion-color-rosabb-shade);
	--ion-color-tint: var(--ion-color-rosabb-tint);
}

:root {
	--ion-color-jupiter: #9cb0dd;
	--ion-color-jupiter-rgb: 156,176,221;
	--ion-color-jupiter-contrast: #000000;
	--ion-color-jupiter-contrast-rgb: 0,0,0;
	--ion-color-jupiter-shade: #899bc2;
	--ion-color-jupiter-tint: #a6b8e0;
}

.ion-color-jupiter {
	--ion-color-base: var(--ion-color-jupiter);
	--ion-color-base-rgb: var(--ion-color-jupiter-rgb);
	--ion-color-contrast: var(--ion-color-jupiter-contrast);
	--ion-color-contrast-rgb: var(--ion-color-jupiter-contrast-rgb);
	--ion-color-shade: var(--ion-color-jupiter-shade);
	--ion-color-tint: var(--ion-color-jupiter-tint);
}

:root {
	--ion-color-saturno: #b8ab19;
	--ion-color-saturno-rgb: 184,171,25;
	--ion-color-saturno-contrast: #000000;
	--ion-color-saturno-contrast-rgb: 0,0,0;
	--ion-color-saturno-shade: #a29616;
	--ion-color-saturno-tint: #bfb330;
}

.ion-color-saturno {
	--ion-color-base: var(--ion-color-saturno);
	--ion-color-base-rgb: var(--ion-color-saturno-rgb);
	--ion-color-contrast: var(--ion-color-saturno-contrast);
	--ion-color-contrast-rgb: var(--ion-color-saturno-contrast-rgb);
	--ion-color-shade: var(--ion-color-saturno-shade);
	--ion-color-tint: var(--ion-color-saturno-tint);
}

:root {
	--ion-color-urano: #146a7b;
	--ion-color-urano-rgb: 20,106,123;
	--ion-color-urano-contrast: #ffffff;
	--ion-color-urano-contrast-rgb: 255,255,255;
	--ion-color-urano-shade: #125d6c;
	--ion-color-urano-tint: #2c7988;
}

.ion-color-urano {
	--ion-color-base: var(--ion-color-urano);
	--ion-color-base-rgb: var(--ion-color-urano-rgb);
	--ion-color-contrast: var(--ion-color-urano-contrast);
	--ion-color-contrast-rgb: var(--ion-color-urano-contrast-rgb);
	--ion-color-shade: var(--ion-color-urano-shade);
	--ion-color-tint: var(--ion-color-urano-tint);
}

:root {
	--ion-color-netuno: #0c106e;
	--ion-color-netuno-rgb: 12,16,110;
	--ion-color-netuno-contrast: #ffffff;
	--ion-color-netuno-contrast-rgb: 255,255,255;
	--ion-color-netuno-shade: #0b0e61;
	--ion-color-netuno-tint: #24287d;
}

.ion-color-netuno {
	--ion-color-base: var(--ion-color-netuno);
	--ion-color-base-rgb: var(--ion-color-netuno-rgb);
	--ion-color-contrast: var(--ion-color-netuno-contrast);
	--ion-color-contrast-rgb: var(--ion-color-netuno-contrast-rgb);
	--ion-color-shade: var(--ion-color-netuno-shade);
	--ion-color-tint: var(--ion-color-netuno-tint);
}

:root {
	--ion-color-verdinho: #b6ece1;
	--ion-color-verdinho-rgb: 182,236,225;
	--ion-color-verdinho-contrast: #000000;
	--ion-color-verdinho-contrast-rgb: 0,0,0;
	--ion-color-verdinho-shade: #a0d0c6;
	--ion-color-verdinho-tint: #bdeee4;
}

.ion-color-verdinho {
	--ion-color-base: var(--ion-color-verdinho);
	--ion-color-base-rgb: var(--ion-color-verdinho-rgb);
	--ion-color-contrast: var(--ion-color-verdinho-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdinho-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdinho-shade);
	--ion-color-tint: var(--ion-color-verdinho-tint);
}

:root {
	--ion-color-azur: #d2cdf4;
	--ion-color-azur-rgb: 210,205,244;
	--ion-color-azur-contrast: #000000;
	--ion-color-azur-contrast-rgb: 0,0,0;
	--ion-color-azur-shade: #b9b4d7;
	--ion-color-azur-tint: #d7d2f5;
}

.ion-color-azur {
	--ion-color-base: var(--ion-color-azur);
	--ion-color-base-rgb: var(--ion-color-azur-rgb);
	--ion-color-contrast: var(--ion-color-azur-contrast);
	--ion-color-contrast-rgb: var(--ion-color-azur-contrast-rgb);
	--ion-color-shade: var(--ion-color-azur-shade);
	--ion-color-tint: var(--ion-color-azur-tint);
}

:root {
	--ion-color-vermeio: #800000;
	--ion-color-vermeio-rgb: 128,0,0;
	--ion-color-vermeio-contrast: #ffffff;
	--ion-color-vermeio-contrast-rgb: 255,255,255;
	--ion-color-vermeio-shade: #710000;
	--ion-color-vermeio-tint: #8d1a1a;
}

.ion-color-vermeio {
	--ion-color-base: var(--ion-color-vermeio);
	--ion-color-base-rgb: var(--ion-color-vermeio-rgb);
	--ion-color-contrast: var(--ion-color-vermeio-contrast);
	--ion-color-contrast-rgb: var(--ion-color-vermeio-contrast-rgb);
	--ion-color-shade: var(--ion-color-vermeio-shade);
	--ion-color-tint: var(--ion-color-vermeio-tint);
}

:root {
	--ion-color-roxo: #411a9e;
	--ion-color-roxo-rgb: 65,26,158;
	--ion-color-roxo-contrast: #ffffff;
	--ion-color-roxo-contrast-rgb: 255,255,255;
	--ion-color-roxo-shade: #39178b;
	--ion-color-roxo-tint: #5431a8;
}

.ion-color-roxo {
	--ion-color-base: var(--ion-color-roxo);
	--ion-color-base-rgb: var(--ion-color-roxo-rgb);
	--ion-color-contrast: var(--ion-color-roxo-contrast);
	--ion-color-contrast-rgb: var(--ion-color-roxo-contrast-rgb);
	--ion-color-shade: var(--ion-color-roxo-shade);
	--ion-color-tint: var(--ion-color-roxo-tint);
}

:root {
	--ion-color-rosa: #68176d;
	--ion-color-rosa-rgb: 104,23,109;
	--ion-color-rosa-contrast: #ffffff;
	--ion-color-rosa-contrast-rgb: 255,255,255;
	--ion-color-rosa-shade: #5c1460;
	--ion-color-rosa-tint: #772e7c;
}

.ion-color-rosa {
	--ion-color-base: var(--ion-color-rosa);
	--ion-color-base-rgb: var(--ion-color-rosa-rgb);
	--ion-color-contrast: var(--ion-color-rosa-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
	--ion-color-shade: var(--ion-color-rosa-shade);
	--ion-color-tint: var(--ion-color-rosa-tint);
}

:root {
	--ion-color-azurr: #083449;
	--ion-color-azurr-rgb: 8,52,73;
	--ion-color-azurr-contrast: #ffffff;
	--ion-color-azurr-contrast-rgb: 255,255,255;
	--ion-color-azurr-shade: #072e40;
	--ion-color-azurr-tint: #21485b;
}

.ion-color-azurr {
	--ion-color-base: var(--ion-color-azurr);
	--ion-color-base-rgb: var(--ion-color-azurr-rgb);
	--ion-color-contrast: var(--ion-color-azurr-contrast);
	--ion-color-contrast-rgb: var(--ion-color-azurr-contrast-rgb);
	--ion-color-shade: var(--ion-color-azurr-shade);
	--ion-color-tint: var(--ion-color-azurr-tint);
}